{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="static/css/login.css"> -->

    <link rel="stylesheet" href="{% static "base/css/login.css" %}"/>
    <link rel="stylesheet" href="{% static "base/css/nav.css" %}"/>
    <link rel="stylesheet" href="{% static "base/css/footer.css" %}"/>
    <link rel="stylesheet" href="{% static "base/css/home.css" %}"/>
    <link rel="stylesheet" href="{% static "base/css/proyecto.css" %}"/>

    <!-- BOOTSTRAP -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <!-- Material Design icons web -->
    <link rel="stylesheet" href="{% static "base/fonts/icomoon/style.css" %}"/>
    <!-- <link rel="stylesheet" href="static/fonts/icomoon/style.css"/> -->

    <!-- Chart js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <title>Project Management</title>
</head>
<body>

    <!-- NAV -->
    <section>
        <header class="header">
            <nav class="navbar">
                <a href="{% url 'base:home' %}" class="nombre-logo">Project Management</a>
                
                <div>
                    <p class="nombre-usuario1"> Bienvenido: <strong class="nombre-usuario2"></strong> {{request.user.first_name}} {{request.user.last_name}}</p>
                </div>
                
                <ul class="nav-menu">
                    <li class="nav-item">
                        <a href="{% url 'base:home' %}" class="nav-link">Home</a>
                    </li>
                    {% if request.user.is_staff %}
                    <li class="nav-item">
                        <a href="{% url 'base:lista_proyecto' %}" class="nav-link">Proyectos</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'base:lista_actividad' %}" class="nav-link">Actividades</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{% url 'base:logout' %}" class="nav-link">Logout</a>
                    </li>
                </ul>
                 <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
        </header>  
    </section>
    <!-- END NAV -->
    {% block cuerpo %}
    <!-- resumen -->
    <section>
        <div class="container">
            <div>
                <h1 class="Resumen-general-proyectos">Resumen general proyectos</h1>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <!-- <p>El numero de proyectos es:  {{No_proyectos}}</p> -->
            <div class="">
                <div class="row resumen-total">
                    <div class="col-12 col-sm-12 col-md-6 resumenpart1">
                        <div class="resumenpart1-letter">
                            <h3><strong>Número de proyectos:</strong>  {{NoProyectos}}</h3>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 resumenpart2">
                        <div class="No_proyectos_estado">
                            <div>
                                <h4><strong>Proyecto sin iniciar:</strong>  {{NoSinIniciar}}</h4>
                            </div>
                            <div>
                                <h4><strong>Proyecto en proceso:</strong>  {{NoEnProceso}}</h4>
                            </div>
                            <div>
                                <h4><strong>Proyecto finalizado:</strong>  {{NoFinalizados}}</h4>
                            </div>
                        </div>
                        <!-- <div class="">
                            <canvas id="myChart"></canvas>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <p></p>
    <!-- graficas -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="">
                        <canvas id="bar-chart" height="320"></canvas>
                        <script>
                            var labels = {{ labelsPresupuesto|safe }}
                            var data1 = {{ dataPresupuestos|safe }}
                            var data2 = {{ dataEjecutado|safe }}
    
                            let miCanvas1 = document.getElementById('bar-chart').getContext("2d");
    
                            var chart2 = new Chart(miCanvas1, {
                                    type: "bar",
                                    data: {
                                    labels: labels,
                                    datasets: [
                                            {
                                            data: data1,
                                            label: 'Presupuesto',
                                            backgroundColor:'#03a9fc',  
                                            },
                                            {
                                            data: data2,
                                            label: 'Ejecutado',
                                            backgroundColor:'#FF5733',  
                                            }
                                            ]
                                        },
                                    options: {
                                    responsive: true,
                                    maintainAspectRatio: false,
                                    plugins: {
                                        title: {
                                        display: true,
                                        text: 'Presupuesto por proyecto',
                                        padding: {
                                                top: 10,
                                                bottom: 30
                                                }
                                            }
                                        }
                                    }
                                })
                        </script>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="">
                        <canvas id="pie-chart" height="320"></canvas>
                        <script>
                            var labels = {{ labels|safe }}
                            var data = {{ data|safe }}
    
                            let miCanvas2 = document.getElementById('pie-chart').getContext("2d");
    
                            var chart2 = new Chart(miCanvas2, {
                                    type: "pie",
                                    data: {
                                    labels: labels,
                                    datasets: [
                                            {
                                            data: data,
                                            label: 'Nombre cliente',
                                            backgroundColor:'#03a9fc',  
                                            },
                                            ]
                                        },
                                    options: {
                                    responsive: true,
                                    maintainAspectRatio: false,
                                    plugins: {
                                        title: {
                                        display: true,
                                        text: 'Número de proyectos por cliente',
                                        padding: {
                                                top: 10,
                                                bottom: 30
                                                }
                                            }
                                        }
                                    }
                                })
                        </script>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div>
                <h2 class="Resumen-general-proyectos">Resumen proyectos</h2>
            </div>
        </div>
    </section>

    <!-- Proyectos -->
    <section>
        {% for proyecto in proyectos %}
        <div class="container Resumen-proyectos">
            <div class="grid-proyectos">
                <!-- Titulo proyecto -->
                <div class="">
                    <h4 class=""><strong>Nombre proyecto: </strong> {{proyecto.nombre}}</h4>
                </div>
                <!-- objetivo proyecto -->
                <div class="">
                    <h4 class=""><strong>Objetivo proyecto:</strong>  {{proyecto.objetivo}}</h4>
                </div>
                <!-- tipo de proyecto -->
                <div class="">
                    <h4 class=""><strong>Tipo de proyecto:</strong>  {{proyecto.tipo}}</h4>
                </div>
                <!-- cliente-->
                <div class="">
                    <h4 class=""><strong>Cliente: </strong> {{proyecto.cliente.nombreCliente}}</h4>
                </div>
                <!-- Presupuesto -->
                <div class="">
                    <h4 class=""><strong>Presupuesto:</strong>  {{proyecto.presupuesto|intcomma}}</h4>
                </div>
                <!-- Presupuesto -->
                <div class="">
                    <h4 class=""><strong>Presupuesto ejecutado:</strong>  {{proyecto.presupuesto_ejecutado|intcomma}}</h4>
                </div>
                <!-- Numero de actividades -->
                <div class="">
                    <h4 class=""><strong>Número de actividades:</strong>  {{proyecto.numero_activdades|intcomma}}</h4>
                </div>
                <!-- Responsable -->
                <div>
                    <h4 class=""><strong>Responsable: </strong> {{proyecto.responsable.first_name}} {{proyecto.responsable.last_name}}</h4>
                </div>
                <!-- fecha inicial-->
                <div class="">
                    <h4 class=""><strong>Fecha de inicio:</strong>  {{proyecto.fecha_inicial}}</h4>
                </div>
                <!-- fecha final -->
                <div>
                    <h4 class=""><strong>Fecha de cierre:</strong>  {{proyecto.fecha_final}}</h4>
                </div>
            </div>
            <div>
                <h4><strong>Estado proyecto:</strong>  {{proyecto.estado}}</h4>
            </div>
            {% if proyecto.estado_id == 1 and proyecto.fecha_final <= hoy %}
            <div>
                <h4><strong>Alerta proyecto:</strong>Proyecto Retrasado</h4>
            </div>
            {% elif proyecto.estado_id == 2 and proyecto.fecha_final <= hoy %}
            <div>
                <h4><strong>Alerta proyecto:</strong>Proyecto Retrasado</h4>
            </div>
            {% elif proyecto.estado_id == 3 and proyecto.fecha_final <= hoy %}
            <div>
                <h4><strong>Alerta proyecto:</strong>Proyecto Finalizado</h4>
            </div>
            {% elif proyecto.estado_id == 1 and proyecto.fecha_inicial >= hoy %}
            <div>
                <h4><strong>Alerta proyecto:</strong>Proyecto Sin Iniciar</h4>
            </div>
            {% elif proyecto.estado_id == 1 and proyecto.fecha_final >= hoy %}
            <div>
                <h4><strong>Alerta proyecto:</strong>Proyecto Sin Iniciar</h4>
            </div>
            {% elif proyecto.estado_id == 2 and proyecto.fecha_final >= hoy %}
            <div>
                <h4><strong>Alerta proyecto:</strong>Proyecto Proceso</h4>
            </div>
            {% elif proyecto.estado_id == 3 and proyecto.fecha_final >= hoy %}
            <div>
                <h4><strong>Alerta proyecto:</strong>Proyecto Finalizado</h4>
            </div>
            {% endif %}
            <div>
                <a href="{% url 'base:detalle_proyecto' proyecto.slug %}"><h2 class="btn btn-primary" >{{proyecto.nombre}}</h2></a>
            </div>
        </div>
        {% endfor %}
    </section>

    <!-- Paginnator -->
    <section>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
            {% if proyectos.has_previous %}
                <li class="page-item">
                <a class="page-link" href="?page={{ proyectos.previous_page_number }}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
            {% endif %}
            {% for i in proyectos.paginator.page_range %}
                {% if moviproyectoses.number == i %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">
                    {{ i }}
                    <span class="sr-only">(current)</span>
                    </span>
                </li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if proyectos.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ proyectos.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </section>    

    {% endblock %}

    <!-- footer -->
    <section>
        <div class="footer">
            <div class="footer_sector">
                <div>
                    <h3 class="footer_title">Design by Andrés Triana - 2021</h3>
                </div>
            </div>
        </div>
    </section>
    <!-- javascript -->
    <script src="{% static "base/js/nav.js" %}"></script>          
</body>
</html>