{% extends 'home.html' %}
{% load static %}
{% load humanize %}


{% block cuerpo %}

<section>
    <div>
        <h1 class="titulo-pryecto-page">Nombre proyecto: {{NombreProyecto.nombre}}</h1>
    </div>
</section>

<!-- Listar información del proyecto -->
<section>
    <div class="container">
        <div class="dato-proyectos-objetivo">
            <h4 class=""><strong>Objetivo proyecto:</strong>  {{NombreProyecto.objetivo}}</h4>
        </div>
        <div class="grid-datos-proyectos">
            <!-- tipo de proyecto -->
            <div class="dato-proyectos">
                <h4 class=""><strong>Tipo de proyecto:</strong>  {{NombreProyecto.tipo}}</h4>
            </div>
            <!-- cliente-->
            <div class="dato-proyectos">
                <h4 class=""><strong>Cliente: </strong> {{NombreProyecto.cliente.nombreCliente}}</h4>
            </div>
            <!-- Presupuesto -->
            <div class="dato-proyectos">
                <h4 class=""><strong>Presupuesto:</strong>  {{NombreProyecto.presupuesto|intcomma}}</h4>
            </div>
            <!-- Presupuesto -->
            <div class="dato-proyectos">
                <h4 class=""><strong>Presupuesto ejecutado:</strong>  {{NombreProyecto.presupuesto_ejecutado|intcomma}}</h4>
            </div>
            <!-- Numero de actividades -->
            <div class="dato-proyectos">
                <h4 class=""><strong>Número de actividades:</strong>  {{NombreProyecto.numero_activdades|intcomma}}</h4>
            </div>
            <!-- Responsable -->
            <div>
                <h4 class="dato-proyectos"><strong>Responsable: </strong> {{NombreProyecto.responsable.first_name}} {{NombreProyecto.responsable.last_name}}</h4>
            </div>
            <!-- fecha inicial-->
            <div class="dato-proyectos">
                <h4 class=""><strong>Fecha de inicio:</strong>  {{NombreProyecto.fecha_inicial}}</h4>
            </div>
            <!-- fecha final -->
            <div class="dato-proyectos">
                <h4 class=""><strong>Fecha de cierre:</strong>  {{NombreProyecto.fecha_final}}</h4>
            </div>
        </div>
    </div>
</section>

<section>
    <div >
        <div class="container estado-proyecto">
            <h3><strong>Estado proyecto:</strong>  {{NombreProyecto.estado}}</h3>
        </div>
        <div class="container estado-proyecto">
            <a href="{% url 'base:actualizar_proyecto' NombreProyecto.slug %}"><h2 class="btn btn-primary" >Actualizar proyecto</h2></a>
        </div>
        <div class="container estado-proyecto">
            <h4><strong>Estado actividades:</strong></h4>
        </div>
    </div>
</section>

<!-- Listar actividades -->
<section>
    {% for ListarActividad in ListarActividades %}
    <div class="container actividades">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6">
                <div>
                    <h4 class="actividad-individual"><strong>Nombre actividad:</strong>  {{ListarActividad.nombre_actividad}}</h4>
                </div>
                <div>
                    <h4 class="actividad-individual"><strong>Fase actividad:</strong>  {{ListarActividad.fase}}</h4>
                </div>
                <div>
                    <h4 class="actividad-individual"><strong>Descripción actividad:</strong>  {{ListarActividad.descripcion}}</h4>
                </div>
                <div>
                    <h4 class="actividad-individual"><strong>Meta actividad:</strong>  {{ListarActividad.meta}}</h4>
                </div>
                <div>
                    <h4 class="actividad-individual"><strong>Avance actividad:</strong>  {{ListarActividad.avance}}</h4>
                </div>
                <div>
                    <h4 class="actividad-individual"><strong>Estado:</strong>  {{ListarActividad.estado}}</h4>
                </div>
                <div>
                    <h4 class="actividad-individual"><strong>Responsable:</strong>  {{ListarActividad.responsable.first_name}} {{ListarActividad.responsable.last_name}}</h4>
                </div>
                <div>
                    <h4 class="actividad-individual"><strong>Fecha inicial actividad:</strong>  {{ListarActividad.fecha_inicial}}</h4>
                </div>
                <div>
                    <h4 class="actividad-individual"><strong>Fecha final actividad:</strong>  {{ListarActividad.fecha_final}}</h4>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
                <canvas id=" {{ListarActividad.id}}" height="320"></canvas>
                <script>
                    var labels = ["Avance", "Pendiente"]
                    var avance = parseInt("{{ ListarActividad.avance|safe }}", 10)
                    var pendiente = parseInt("{{ ListarActividad.meta|safe }}", 10) - avance
                    var data = []
                    data.push(avance)
                    data.push(pendiente)
                    var barColors = [
                        "#2b5797",
                        "#00aba9"
                    ];


                    // $('.chartjs-size-monitor').each(function(){
                    // $(this).remove();
                    // })

                    // var indice = {{ListarActividad.id}};

                    // this[indice+'_count'] = document.getElementById('pie-chart').getContext("2d");

                    myChart = document.getElementById(' {{ListarActividad.id}}').getContext("2d");

                    var chart2 = new Chart(myChart, {
                    // var chart2 = new Chart(this[indice+'_count'], {
                            type: "pie",
                            data: {
                            labels: labels,
                            datasets: [
                                    {
                                    data: data,
                                    label: 'Avance actividades',
                                    backgroundColor: barColors,
                                    },
                                    ]
                                },
                            options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            plugins: {
                                title: {
                                display: true,
                                text: 'Avance actividades',
                                padding: {
                                        top: 10,
                                        bottom: 30
                                        }
                                    }
                                }
                            }
                        })

                    // this[indice+'_count'].destroy();
                </script>
            </div>
        </div>
        <div>
            <div class="container estado-proyecto">
                <!-- <button type="button" class="btn btn-primary">ir al proyecto </button> -->
                <a href="{% url 'base:actualizar_actividad' ListarActividad.id %}"><h2 class="boton-actividad btn btn-primary" >Actualizar actividad</h2></a>
            </div>
        </div>

    </div>

    {% endfor %}
</section>

<!-- Agregar actividad -->
<section>
    <div class="container">
        <div>
            <div class="container estado-proyecto">
                <a href="{% url 'base:crear_actividad' NombreProyecto.slug %}"><h2 class="boton-actividad btn btn-primary" >Agregar actividad</h2></a>
            </div>
        </div>
    </div>

</section>

{% endblock cuerpo %}