.resumenpart1{
    background-color: #FDE74C;
    color:black;
    text-align: center;
}

.resumenpart1-letter{
    padding: 55px .5em;
}

.resumenpart2{
    background-color: #9BC53D;
    color:black;
    text-align: center;
}